header {
    display : flex;
    justify-content : space-between;
    border : 2px solid grey;
    padding : 10px
}

.image{
    width : 120px;
}

ul{
    display : flex;
    gap : 28px;
    align-items : center;
}

ul li{
    list-style-type : none;
    font-size : 20px;
}

.rescard img{
    width: 120px;
    padding-top: 10px;
    
}

.rescard h1{
    font-size: 20px;
}

.rescard h2  {
    font-size: 15px;
}

.rescard h3 {
    font-size: 15px;
}

.rescard {
    
    width: 190px;
    margin: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
}

.rescard:hover {
    border: 2px solid rgb(175, 165, 165);
    cursor: pointer;
}

.rescontainer{
    display: flex;
    flex-wrap: wrap;
   
    justify-content: center;
    align-items: center;
}

.button{
    margin: 20px;
}

.shimmerContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.shimmer{
    height: 200px;
    width: 190px;
    margin: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: antiquewhite;
}